{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  {% if message != null %}
  {{forms.message(message)}}
  {% endif %}
  <h1>Tuottevalikoima</h1>
  {% if user_logged_in.oikeuksia == 0 and  user_logged_in %}
    <p>
        <a href="{{base_path}}/products/new" class="btn btn-success">Lisää tuotte</a>
    </p>
  {% endif %}
  

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <!--<th>Kuva</th>-->
        <th>Nimi</th>
        <th>Hinta</th>
        <th>Kuvaus</th>
      </tr>
    </thead>

    <tbody>
      {% for tuote in tuotteet %}
        <tr>
          <!--<td>{{tuote.kuva}}</td-->
          <td><a href="{{base_path}}/products/{{tuote.ttunnus}}">{{tuote.nimi}}</td>
          <td>{{tuote.hinta}}</td>
          <td>{{tuote.kuvaus}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
