{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  {% if message != null %}
  {{forms.message(message)}}
  {% endif %}
  {% if user_logged_in.oikeuksia == 1 %}
    <p>
        <a href="{{base_path}}/Wishes/new" class="btn btn-success">Lisää toive</a>
    </p>
  {% endif %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        {% if user_logged_in.oikeuksia == 0%}
        <th>Asiakastunnus</th>
        {% endif %}
        <th>Toive</th>
        <th>Lento</th>
        {% if user_logged_in.oikeuksia == 1 and toive.tila == 0 %}
        <th>Poisto</th>
        <th>Muokaa</th>
        {% endif %}
        {% if user_logged_in.oikeuksia == 0%}
        <th>Tila</th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for toive in toiveet %}
        {% if user_logged_in.atunnus == toive.atunnus and user_logged_in.oikeuksia == 1%}
            <tr>
                <td>{{toive.toive}}</td>
                <td>{{toive.lento}}</td>
                {% if toive.tila==0 %}
                <td>
                <form method="post" action="{{base_path}}/Wishes/{{toive.atunnus}}/{{toive.lento}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
                </td>
                <td><a href="{{base_path}}/Wishes/{{toive.atunnus}}/{{toive.lento}}/edit" class="btn btn-success">Muokkaa</a></td>
                {% endif %}
                {% if toive.tila==1 %}
                <td>
                <button type="button" class="btn btn-primary disabled">Poista</button>
                </td>
                <td><button type="button" class="btn btn-primary disabled">Muokkaa</button></td>
                {% endif %}
            </tr>
        {% endif %}
        {% if user_logged_in.oikeuksia == 0%}
            <tr>
                <td>{{toive.atunnus}}</td>
                <td>{{toive.toive}}</td>
                <td>{{toive.lento}}</td>
                {% if toive.tila == 0 %}
                <td>
                <form method="post" action="{{base_path}}/Wishes/{{toive.atunnus}}/{{toive.lento}}/tila" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Käsitellä</button>
                </form>
                </td>
                {% endif %}
                {% if toive.tila == 1 %}
                  <td>Käsitelty</td>
                {% endif %}
            </tr>
        {% endif %} 
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
